/*--Æù--*/
@media(max-width:768px) {
    body {
        background: #808080
    }
    .writeCon {
        width: 50%;
    }
    .sideCon {
        display: none
    }
}

/*--pc--*/
@media(min-width:992px) {
    body {
        /*-background: #ffd800;-*/
        position: static;
        width: inherit;
    }
}

td.body_txt {
    font-size: 15px;
    color: #666666;
    line-height:25px;
}

.right_box {
    width: 100%;
    margin: 20px 0;
}

.right_box .box_db {
width: 92%;
border: 1px solid #D7D7D7;
margin: 0 auto;
}

.right_box .right_title, .right_box .right_sub {
overflow: hidden;
}

.right_box .right_title {
background-color: #F0F0F0;
height: 30px;
line-height: 30px;
border-bottom: 1px solid #D7D7D7;
}

.right_box .right_sub {
margin: 5px 0;
}

.right_box .lf {
float: left;
padding-left: 5px;
font-weight: bold;
}

.right_box .lf span {
color: #FF0000;
}

.right_box .rf {
float: right;
padding-right: 5px;
}

.right_box ul {
padding: 0;
margin: 5px 0 5px 20px;
}

.right_box ul li {
height: 20px;
line-height: 20px;
}

.right_box ul span {
color: #FF0000;
}

.right_box ol {
padding: 0;
margin: 0;
list-style: none;
}

.right_box ol li {
background-color: #E7E7E7;
padding-left: 5px;
height: 25px;
line-height: 25px;
}

.right_box ol li.first {
    border-bottom: 1px solid #CCC;
}

.right_box ol li.last {
    border-top: 1px solid #CCC;
}


